src/main/xsd/structural-1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright © 2011 http://io7m.com
  
  Permission to use, copy, modify, and/or distribute this software for any
  purpose with or without fee is hereby granted, provided that the above
  copyright notice and this permission notice appear in all copies.
  
  THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
  WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
  MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
  ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
  WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
  ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
  OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
-->
<!-- version: structural 1.0.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.io7m.com/schemas/structural/1.0.0" xmlns:s="http://www.io7m.com/schemas/structural/1.0.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attributeGroup name="io7m.structural-1_0_0.xml-id">
    <xs:attribute ref="xml:id" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="io7m.structural-1_0_0.standard-attributes">
    <xs:attribute ref="xml:base"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute name="type" type="xs:token"/>
  </xs:attributeGroup>
  <xs:element name="link">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:image"/>
      </xs:sequence>
      <xs:attribute name="target" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="link-external">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="s:image"/>
      </xs:sequence>
      <xs:attribute name="target" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="s:footnote"/>
        <xs:element ref="s:image"/>
        <xs:element ref="s:link"/>
        <xs:element ref="s:link-external"/>
        <xs:element ref="s:list-ordered"/>
        <xs:element ref="s:list-unordered"/>
        <xs:element ref="s:table"/>
        <xs:element ref="s:term"/>
        <xs:element ref="s:verbatim"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
      <xs:attribute name="source" use="required" type="xs:anyURI"/>
      <xs:attribute name="width" type="xs:positiveInteger"/>
      <xs:attribute name="height" type="xs:positiveInteger"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="paragraph">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="s:footnote"/>
        <xs:element ref="s:formal-item-list"/>
        <xs:element ref="s:image"/>
        <xs:element ref="s:link"/>
        <xs:element ref="s:link-external"/>
        <xs:element ref="s:list-ordered"/>
        <xs:element ref="s:list-unordered"/>
        <xs:element ref="s:table"/>
        <xs:element ref="s:term"/>
        <xs:element ref="s:verbatim"/>
      </xs:choice>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="verbatim">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list-item">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="s:footnote"/>
        <xs:element ref="s:image"/>
        <xs:element ref="s:link"/>
        <xs:element ref="s:link-external"/>
        <xs:element ref="s:list-ordered"/>
        <xs:element ref="s:list-unordered"/>
        <xs:element ref="s:term"/>
        <xs:element ref="s:verbatim"/>
      </xs:choice>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list-unordered">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s:list-item"/>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list-ordered">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s:list-item"/>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="formal-item-list">
    <xs:complexType>
      <xs:attribute name="kind" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="formal-item-title" type="xs:string"/>
  <xs:element name="formal-item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:formal-item-title"/>
        <xs:choice>
          <xs:element ref="s:formal-item-list"/>
          <xs:element ref="s:image"/>
          <xs:element ref="s:list-ordered"/>
          <xs:element ref="s:list-unordered"/>
          <xs:element ref="s:table"/>
          <xs:element ref="s:verbatim"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
      <xs:attribute name="kind" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subsection-title" type="xs:string"/>
  <xs:element name="subsection">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:subsection-title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="s:paragraph"/>
          <xs:element ref="s:formal-item"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="section-contents">
    <xs:complexType/>
  </xs:element>
  <xs:element name="section-title" type="xs:string"/>
  <xs:element name="section">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:section-title"/>
        <xs:element minOccurs="0" ref="s:section-contents"/>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="s:subsection"/>
          <xs:choice maxOccurs="unbounded">
            <xs:element ref="s:paragraph"/>
            <xs:element ref="s:formal-item"/>
          </xs:choice>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
  <!-- - Tables -->
  <xs:element name="table-summary" type="xs:string"/>
  <xs:element name="table-column-name" type="xs:string"/>
  <xs:element name="table-head">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s:table-column-name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="table-cell">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="s:footnote"/>
        <xs:element ref="s:image"/>
        <xs:element ref="s:link"/>
        <xs:element ref="s:link-external"/>
        <xs:element ref="s:list-ordered"/>
        <xs:element ref="s:list-unordered"/>
        <xs:element ref="s:term"/>
        <xs:element ref="s:verbatim"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="table-row">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s:table-cell"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="table-body">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s:table-row"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="table">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:table-summary"/>
        <xs:element minOccurs="0" ref="s:table-head"/>
        <xs:element ref="s:table-body"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="part-contents">
    <xs:complexType/>
  </xs:element>
  <xs:element name="part-title" type="xs:string"/>
  <xs:element name="part">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="s:part-title"/>
        <xs:element minOccurs="0" ref="s:part-contents"/>
        <xs:element maxOccurs="unbounded" ref="s:section"/>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="document-title" type="xs:string"/>
  <xs:element name="document-contents">
    <xs:complexType/>
  </xs:element>
  <xs:element name="document-style" type="xs:anyURI"/>
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="s:document-title"/>
          <xs:element ref="s:document-style"/>
          <xs:element ref="s:document-contents"/>
        </xs:choice>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="s:part"/>
          <xs:element maxOccurs="unbounded" ref="s:section"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="set">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="s:document"/>
      </xs:sequence>
      <xs:attributeGroup ref="s:io7m.structural-1_0_0.standard-attributes"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
